.heading {
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  text-transform: capitalize;
}
.sub-heading {
  text-align: center;
  font-size: 1rem;
  margin: 10px;
  opacity: .7;
}
.separator {
  width: 25%;
  margin: 20px auto;
  position: relative;
}
.separator::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
}
.separator::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}
.highlight {
  color: #ff3559;
}


/* project section */
.project, .contact {
  position: relative;
  padding: 50px 10vw;
}
.filters {
  width: fit-content;
  display: block;
  margin: 100px auto;
}
.filter-btn {
  padding: 10px 20px;
  border-radius: 1.5rem;
  border: none;
  font-size: .8rem;
  text-transform: capitalize;
  margin: 0 5px 10px;
  cursor: pointer;
}
.filter-btn.active {
  background: #ff3559;
  color: #fff;
}

/* project container */
.project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  grid-gap: 1rem;
}
.project-card {
  position: relative;
  cursor: pointer;
  display: block;
}
.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  text-transform: capitalize;
  opacity: 0;
}
.project-name {
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}
.tags {
  position: absolute;
  bottom: 20px;
  opacity: .6;
  width: 90%;
}
.project-card:hover .content {
  opacity: 1;
  color: var(--highlighted-font-color);
}
.project-card.hide {
  display: none;
}
